<% content_for :head do %> 
  <meta title="Articles Index">
  <meta name="description" content="  ">
<% end %>



<h1> Articles </h1>

<%= link_to "New", new_article_path %>

<div class="article_list">
  <% @articles.each do  |article| -%>
    <div class="each_article">
      <%= image_tag article.photo.url(:original) -%> 
      <p> <%= link_to article.title, article_path(article.id) -%>  </p>
      <p> <%= article.preview -%> </p>
    </div>
  <% end -%>
</div>
