<% content_for :head do %>
  <% title = @article.title %> 
  <meta title= <%= title %> >
  <meta name="description" content="  ">
<% end %>

<h2> <%= @article.title %> </h2>

<%= image_tag @article.photo.url(:original) -%>

<p> <%= @article.body %> </p>
