<% content_for :head do %> 
  <meta title="Brian May">
  <meta name="description" content="Original worship songs by Brian May with downloadable chord charts and mp3 files.">
<% end %>


<h1> Home Page </h1>
